.contenedor_gigante{
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 15% 70% 15%;
    justify-items: center;
    align-items: center;
}
.c1,.c3,.c7,.c9{
    font-size: 70px;
    color: blue;
    font-family: 'Farsan',cursive;
}
.c1:hover,.c3:hover,.c7:hover,.c9:hover{
    color: red;
}
.c1{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
}
.c2{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    font-size: 150px
}
.c3{
    grid-column: 3;
    grid-row: 1/2;
    padding: 20px;
}
.c4{
    grid-column: 1/2;
    grid-row-start: 2/3;
    font-size: 40px;
    padding-left: 25px;
}
.c5{
    background: url(/assets/img/regionescollage.PNG)no-repeat center;
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 0 2px 1000px 0;
    width: 500px;
}
.c6{
    font-size: 40px;
    padding-left: 25px;
}
.fila-1{
    grid-row: 1;
    grid-row-end: 1;
    font-family: 'Alfa slab One', cursive;
    color: red;
    font-size: 25px;

}
.fila-2{
    grid-column: 1;
    grid-row: 2;
    grid-row-end: 2;
    background: url(../img/imagen2.PNG)no-repeat center;
    background-size: cover;
    height: 200px;
    width: 350px;
    padding-bottom: 20px;
    
}
e:hover{
    border-image-outset: 20px;
}